<ul style="list-style:none; padding-left: 0; margin-left:0;">
  <li><b>Name:</b> {{ user.first_name }} {{ user.last_name }}</li>
  <li><b>Email:</b> {{ user.email }}</li>
  <li><b>State:</b> {{ user.state }}</li>
  <li><b>County:</b> {{ user.county }}</li>
  <li><b>Position:</b> {{ user.position }}</li>
</ul>

<div style="margin:0 80px">
<p><b>Message:</b></p>
<p>{{ msg }}</p>
</div>
